# Captura de tela rápida e direto na RAM
mss

# Tratamento de imagem e OCR
opencv-python
numpy
pytesseract
thefuzz
Levenshtein

# Conexão com a Live Client Data API da Riot
requests
urllib3

# Interface gráfica e Overlay Transparente
PyQt6

# Escuta da tecla TAB em background
pynput